$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
@import 'sass-bootstrap/lib/bootstrap';

$fa-font-path: "/bower_components/font-awesome/fonts";
@import "font-awesome/scss/font-awesome";

.panel {
	margin-top:50px;
}